@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
:root {
    /* background-color: #ececec; */
    background-color: #eeeeee;
}

html {
    scroll-behavior: smooth !important;
}


/* --------------------------partial files----------- */



@font-face {
    font-family: "Roboto";
    src: '../fonts/Roboto/Roboto-Regular.ttf';
}


/* ==================Variable.css============= */

html,
body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


/* CSS Variables */

:root {
    --primary-color: #4458dc;
    --primary-color2: #854fee;
    --title-color: #141313;
    --text-color: #777777;
    --border-color: #201f1f17;
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    /* font family variables. */
    font-family: 'Roboto', sans-serif;
    --roboto: 'Roboto', cursive;
    /* --roboto: 'Permanent Marker', cursive; */
    ;
}


/* ==================End Variable.css============= */


/* ===============Global.css=================== */


/* Global Classes */

.title-text {
    font: normal bold 50px/ 72px var(--roboto);
}

.text-uppercase {
    text-transform: uppercase;
}


/* Buttons */

.button {
    padding: .8rem 2.2rem;
    font: normal 500 16px/20px var(--roboto);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button.primary-button {
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.button.primary-button:hover {
    background: whitesmoke;
    background-clip: padding-box;
    color: black;
}

.button.primary-button::after,
.button.secondary-button::after {
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: var(--gradient-color);
    content: ' ';
    z-index: -1;
    border-radius: 4px;
}

.button.secondary-button {
    background: white;
    background-clip: padding-box;
    transition: background .6s ease;
}

.button.secondary-button:hover {
    background: var(--gradient-color);
    color: whitesmoke;
    box-shadow: var(--box-shadow);
}

p.para {
    color: var(--text-color);
    font: normal 500 16px/ 25px var(--roboto);
}

.font-roboto {
    font-family: var(--roboto);
}

button:focus,
button:active button:hover .btn:active,
.btn.active {
    outline: 0px !important;
    box-shadow: none !important;
}

.title-h1 {
    font: normal bold 39px/ 40px var(--roboto);
}

.navbar_fixed {
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
}


/* ============================================ */


/*---------------------------------------
    Preloader section              
-----------------------------------------*/

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
}

.sk-rotating-plane {
    width: 50px;
    height: 50px;
    background-color: #222;
    -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
    animation: sk-rotatePlane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotatePlane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@keyframes sk-rotatePlane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}


/* end preloader  */


/* custom scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* start navigation */

.header_area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.header_area .main-menu .navbar {
    padding: 1rem 20rem;
}

.header_area .main-menu .navbar-nav .active,
a:hover {
    color: var(--title-color);
}

.header_area .main-menu .nav-item .nav-link {
    font: normal 500 15px/2px var(--roboto);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav-logo {
    font-family: 'Rock Salt', cursive;
    font-size: 1.8rem;
}


/* end navigation */


/* Home Area */


/* Scroll button Start */

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}

@media (max-width: 500px) {
    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}


/* Scroll button ends */

.site-main .site-banner .site-title h3 {
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
    font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image>img {
    padding: 3rem 0;
    width: 90rem;
}

.typing {
    color: #6610f2;
}


/* say hi btn */

.shaked_btn {
    width: 10em;
    padding: 5px 15px;
    background-color: transparent;
    border-radius: 17px;
    border: 1px solid #6610f2;
    font-size: 1.2em;
    margin-top: 1.5em;
    margin-left: 8em;
    box-shadow: 5px 5px 10px rgba(56, 56, 56, 0.212);
}

.site-buttons button:hover {
    animation: hi 0.5s forwards 0s linear;
}

@keyframes hi {
    0% {
        transform: rotate(3deg);
    }
    20% {
        transform: rotate(-3deg);
    }
    40% {
        transform: rotate(3deg);
    }
    60% {
        transform: rotate(-3deg);
    }
    80% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* End Home Area */


/* Start About Area */

.site-main .about-area {
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2>span {
    display: block;
    font: normal bold 49px/ 60px var(--roboto);
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph>p {
    padding: .4rem 0;
}


/* End About Area */


/* Education Area */

.site-main .services-area {
    padding: 7rem 2rem;
}

.site-main .services-area .services-title {
    padding: 0 14rem;
}

.site-main .services-area .services-title h1 {
    font-size: 35px;
}

.site-main>.services-area .services {
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 19rem;
    margin: 2rem 1rem;
    transition: box-shadow .7s ease;
}

.site-main>.services-area .services:hover {
    box-shadow: var(--box-shadow);
}

.education__titles {
    font-family: 'Courgette', cursive !important;
}

.site-main .services-area>.para {
    margin-top: 0.5rem !important;
}


/* End Education Area */


/* Start skills area */

.skillset {
    height: auto;
    padding: 50px;
    background-color: #2B2B52;
    color: #edf8fc;
    text-align: center;
    margin-top: 100px;
}

.skillset .row {
    width: 85%;
    margin: 100px auto;
}

.skillset .col-md-4 {
    border: 1px solid #1e1e1e;
    padding: 50px 0;
}

.skillset img {
    /* width: 35%; */
    width: 35%;
    filter: grayscale(10);
    opacity: 0.5;
    transition: all 1s ease;
}

.skillset img:hover {
    filter: grayscale(0);
    opacity: 1;
}

.skillset .row img {
    cursor: pointer !important;
}

.skillset .row .col-md-3 img {
    margin-bottom: 30px !important;
}

.skillset .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.skillset .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #fcfcfc;
    transform: translateX(-50%);
}

.skillset .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #2B2B52;
    transform: translateX(-50%);
}

.skillset .title::after {
    content: "what i know";
}

.skillset .row {
    margin-top: 5px;
    margin-bottom: 0px;
}


/* end skills area */


/* Project Area */

.site-main .project-area {
    padding: 4rem 0;
}

.site-main .project-area .button-group button {
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--roboto);
    text-transform: uppercase;
}

.site-main .project-area .button-group button+button {
    padding-left: 3rem;
}

.site-main .project-area .grid .our-project>.title h4 {
    font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img {
    filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}


/* End Project Area */





/* Subscribe me */ 

.site-main .subscribe-us-area .subscribe{
    background: url(../img/subscribe-bg.png) no-repeat;
    padding: 10rem 0;
    margin: 3rem auto;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4{
    font: normal 700 30px/ 30px var(--roboto);
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p{
    color: whitesmoke;
    padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input{
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px var(--roboto);
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder{
    color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button{
    background: whitesmoke;
    color: #000;
    padding: .7rem 2rem;
}

/* End subscribe me */ 
/* Footer Area */

footer.footer-area {
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;
}

footer.footer-area .social h5 {
    font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a>i {
    font-size: 22px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover>i {
    color: var(--primary-color);
}


/* End Footer */


/* ----------------------------------Resposive css--------------------------------------- */


/* if the viewport is equal to 340px or less than that */

@media only screen and (max-width: 340px) {
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand,
    .site-main .subscribe-us-area .subscribe .subscribe-title,
    .site-main .subscribe-us-area .subscribe .subscribe-title p,
    h4,
    .site-main .services-area,
    .site-main .subscribe-us-area .subscribe {
        padding: 2%;
        margin: 0%;
    }
    .site-main .site-banner .site-title h1 {
        font-size: 41px;
    }
    .site-main .subscribe-us-area .subscribe form .input-textbox input {
        width: 15rem !important;
    }
    .site-main>.services-area .services {
        width: 13rem;
    }
}


/* if the viewport is equal to 340px or less than that */

@media only screen and (max-width: 792px) {
    .site-main .about-area .about-title h2>span {
        font-size: 31px;
        letter-spacing: 10px;
    }
    .site-main .brand-area .experience-area .years-area {
        padding-left: 1%;
        width: 49%;
    }
    .site-main .brand-area .experience-area .bg-panel {
        margin-left: 30%;
        width: 80%;
    }
    .site-main .brand-area .experience-area .call-area {
        padding-left: 3%;
    }
    .site-main .project-area .button-group button {
        font: normal 500 18px/40px var(--roboto);
    }
    .site-main .about-area .about-title p {
        padding: 0%;
    }
    .site-main .subscribe-us-area .subscribe form .input-textbox input {
        width: 20rem;
        margin: 5%;
    }
}


/* if the viewport is equal to 1910px or less than that */

@media only screen and (max-width: 1910px) {
    .header_area .main-menu .navbar {
        padding: 0.5rem;
    }
    .container {
        max-width: 96%;
    }
    .site-main .brand-area,
    .site-main .services-area .services-title,
    .site-main .about-area {
        padding: 3% 4%;
    }
}